{
  "root": true,
  "env": {
    "es2021": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jest/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    //actual values are set in getWebpackConfig.js but these defaults are to prevent no-undef linting errors
    "__DEVELOPMENT__": true,
    "__DEVTOOLS__": true,
    "__CLIENT__": true,
    "__SERVER__": true
  },
  "rules": {
    //2-error 1-warning 0-pass
    "no-console": 0,
    "react/prop-types": 0,
    "react/display-name": 0,
    "jest/expect-expect": 0,
    "jest/no-export": 0
  }
}
